<template>
  <div class="container">
    <Translator inputName="password" outputName="passphrase" uri="w2p" />
    <Translator inputName="passphrase" outputName="password" uri="p2w" />
  </div>
</template>

<script>
// @ is an alias to /src
import Translator from '@/components/Translator.vue'

export default {
  name: 'Home',
  components: {
    Translator
  }
}
</script>
