<template>
  <div class="row mb-2">
    <div class="col">
      <form class="form-inline" novalidate>
        <div class="form-group">
          <input type="text" class="form-control mr-2" :class="valid" id="input" v-model="input" v-bind:placeholder="getInputName">
          <button v-on:click="getMessage" type="button" class="btn btn-primary mr-2">Generate {{ outputName }}</button>
          <span class="text-monospace" style="white-space: pre-wrap;"><mark>{{ msg }}</mark></span>
          <div class="invalid-feedback">
            {{ error }}
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Translate',
  props: [
    'inputName', 'outputName', 'uri'
  ],
  data: function() {
    return {
      msg: '',
      valid: '',
      error: ''
    }
  },
  methods: {
    getMessage() {
      const path = 'http://localhost:5000/'+this.uri;
      axios.get(path, {params: {in: this.input}})
        .then((res) => {
          this.msg = res.data;
          this.valid = 'is-valid';

        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.valid = 'is-invalid';
          this.msg = '';
          this.error = error.response.data;
        });
    }
  },
  computed: {
    getInputName: function() {
        return "Enter "+this.inputName;
    },
    getOutputName: function() {
        return this.outputName;
    }
  },
  created() {
    this.input = ''; // Must initialize to empty to ensure the variable always exists
  },
};
</script>